@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}

@section head{
    <script src="~/lib/angular/angular.js"></script>
}

@section scripts
{

    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>

    <script src="~/apps/endpoints.js"></script>

    <script src="~/apps/dashboardApp.js"></script>
    <script src="~/apps/dashboard/dashboardCtrl.js"></script>

    <script src="~/lib/Chart.js/Chart.js"></script>
    <script src="~/js/initCharts.js"></script>
}
<canvas id="chart-container" width="500" height="300" style="margin-top: 50px;">

</canvas>

<div class="jk-v-spacer"></div>

<article ng-app="dashboardApp" ng-cloak ng-controller="dashboardCtrl as dsb">
    <div class="well row">
        <h4 class="jk-inline-block"> Check goals which you had been doing today.</h4>
        <button class="btn btn-default jk-right" ng-click="dsb.refresh(dsb.loadAll)"><i class="fa fa-refresh"></i></button>
    </div>
    <div class="list-group-item row">

        <div class="col-xs-12" ng-repeat="item in dsb.goals">
            <div class="panel panel-default ">
                <div class="panel-heading jk-a-label jk-opacity" style="background-color:{{item.Color}}; ">{{item.Title}}</div>
                <div class="panel-body list-group row">
                    <div class="list-group-item" ng-repeat="goal in item.Goals">
                        <div class="col-xs-1">
                            <div class="">
                                <input type="checkbox" class="" id="goal.Id" ng-checked="goal.LastTask"  ng-click="dsb.check($event,item,goal,goal.LastTask)"/> 
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <label class="jk-g-label">{{goal.Description}}</label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-group-item col-xs-12">
                        <div class="jk-right"><button class="btn btn-default" title="load all goals" ng-click="dsb.showAll(!dsb.loadAll)"><i class="fa" ng-class="{'fa-arrow-down':!dsb.loadAll,'fa-arrow-up':dsb.loadAll }"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group-item row">
    </div>
</article>

