@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Planning";
}

@section head{
    <script src="~/lib/angular/angular.js"></script>
    <link href="~/css/animate.css" rel="stylesheet" />
}

@section scripts
{

    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>

    <script src="~/apps/endpoints.js"></script>

    <script src="~/apps/commonApp.js"></script>
    <script src="~/apps/areasApp.js"></script>
    <script src="~/apps/areas/areasSrv.js"></script>
    <script src="~/apps/areas/areasCtrl.js"></script>
    <script src="~/apps/goalsApp.js"></script>
    <script src="~/apps/goals/goalsSrv.js"></script>
    <script src="~/apps/goals/goalsCtrl.js"></script>

}

<div class="jk-v-spacer"></div>

<article ng-app="goalsApp" ng-cloak ng-controller="goalsCtrl as gls">
    <div class="well row">
        <h4 class="jk-inline-block">Plan some goals to enhance areas of your life.</h4>
        <button class="btn btn-default jk-right" ng-click="gls.refresh()"><i class="fa fa-refresh"></i></button>
    </div>
    <div class="list-group-item row">

        <div class="col-xs-12" ng-repeat="item in gls.goals">
        <div class="panel panel-default ">
            <div class="panel-heading jk-a-label" style="opacity:0.5;background-color:{{item.Color}}; ">{{item.Title}}</div>
            <div class="panel-body list-group row">
                <div class="list-group-item" ng-repeat="goal in item.Goals">
                    <div class="col-xs-10">
                        <input ng-keypress="gls.key(area,goal,$event)" ng-hide="!goal.editVisible" type="text" maxlength="50" class="form-control col-xs-12 " ng-model="goal.Description" value=""/>
                        <label class="jk-g-label" ng-hide="goal.labelVisible">{{goal.Description}}</label>
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-default" ng-click="gls.edit(item,goal)"><i class="fa fa-pencil"></i></button>
                        <span class="jk-h-spacer"></span>
                        <button class="btn btn-default" ng-click="gls.del(item,goal)"><i class="fa fa-trash"></i></button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-group-item col-xs-12">
                    <div class="col-xs-2"><button class="btn btn-default" ng-click="gls.add(item,item.Description)"><i class="fa fa-plus"></i></button></div><div class="col-xs-10"><input id="{{item.Id}}" type="text" maxlength="100" class="form-control" ng-model="item.Description" /></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="list-group-item row">
        <button class="btn btn-primary jk-right" onclick="window.location=endpoints.dashboard.page">Go to Dashboard</button>
    </div>
</article>

