@using System.Collections.Generic
@using System.Threading.Tasks
@using LMS.Infrastructure
@using LMS.ViewModels.Account
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@using Microsoft.AspNet.Identity
@model LMS.ViewModels.Account.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Start page";
}
<div class="jk-v-spacer"></div>

<article>
    <section class="row jk-row">
        <div class="col-xs-4 jk-main-tiles" style="background-color: gray; height: 100%">
            <table class="jk-full-area">
                <tr>
                    <td>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body">
                                @await Html.PartialAsync("_LoginPartial")
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-xs-8 jk-main-tiles" style="background-color: lemonchiffon;">
            <p class="jk-padding jk-justify jk-y-scroll">
                Для кого этот сервис:
                - Ты хочешь изменить свою жизнь и достич определенных целей
                - Никак не можешь заставить себя планировать свое время
                - У тебя есть понимание, что нужно решить определенные задачи, чтобы достигнуть цели, но ты не хочешь запариваться с планированием
                - У тебя переодически возникают идеи, которые ты бы хотел реализовать. И тебе хотелось бы их куда-то записать, чтобы вернуться к ним позже

                Как это работает. Ты выбираешь цели, которых хочешь достичь (не более 4). Закидываешь список дел, которые нужно сделать, чтобы этого достич. Дела могу быть одноразовые - сделал и забыл, либо же могут повторяться каждый день. Допустим, ты всегда хотел вести свой блог, но постоянно на это не хватает времени. Ты можешь добавить такую цель в список. Каждый день, система будет присылать тебе напоминание, что нужно чекнуть дела, которыми ты сегодня занимался. Это быстро, просто, займет 2 минуты и это обязательно! Помни, система питается твоими идеями! Каждый пропущенный день стоит одного деления заряда батарейки. Когда батарейка разрядится, система перестанет работать. И тебе придется потратить 1 бакс, чтобы мы поменяли тебе батарейки!

                Если вдруг у тебя возникает новоя идея прочитать какую-то статью, сходить куда-нибудь, купить что-нибудь - добавь ее в список. Система подскажет, кода придет время заняться ей.
            </p>
        </div>
    </section>
    <section class="row jk-row">
        <div class="col-xs-8 jk-main-tiles" style="background-color: pink;">&nbsp;</div>
        <div class="col-xs-4 jk-main-tiles" style="background-color: lightblue;">
            <table class="jk-full-area">
                <tr>
                    <td class="jk-font-medium">

                        <img src="https://hacksummit.s3.amazonaws.com/img/logo.svg" alt="hack.summit()" height="26" width="212">
                        <br/><a href="https://www.koding.com/Hackathon">For Koding Virtual Hackathon</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="jk-font-medium" href="https://github.com/aspnet/dnx">Powered by Microsoft DNX coreclr</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="jk-font-medium" href="http://bugnabuggy.com">BUGNABUGGY team</a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

</article>